.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

<<<<<<< HEAD:front-end/src/App.css
button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
  display:inline-block;
  width: 200px;
	cursor:pointer;
	color:#666666;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
  padding:5px 10px;
  margin: 5px auto;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.request-card {
  border: 2px solid #666666;
  margin: 10px auto;
  background-color: whitesmoke ;
  padding-bottom: 15px;
  width: 500px;
  max-width: 800px;
  border-radius:25px;
  }

  .request-card button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    background-color:#ffffff;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    width: 200px;
    cursor:pointer;
    color:#666666;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    padding:5px 10px;
    margin: 5px 5px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
  }
  
  input { 
    display: inline-block;
    border-width:1px; 
    padding: 3px;
    margin: 5px; 
    font-size:15px; 
    border-style:solid; 
    border-color:#666666; 
    box-shadow: 1px 1px 4px 0px rgba(42,42,42,.75); 
    text-shadow:0px 0px 0px rgba(42,42,42,.75); 
    font-weight:bold; 
    font-family:Verdana;  
  
  } 
  
  label {
    font-family: Verdana;
    font-weight:bold; 
    font-size:15px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
=======
.volunteer-register-form{
  width: 90%;
  margin-left: 5%;
  border: 1px solid hotpink;
}
>>>>>>> bd7f60f63c1989eb0493a23710c35f3c6916d677:front-end/src/VolunteerRegisterApp/VolunteerRegisterApp.css
