button {
 box-shadow: inset 0px 1px 0px 0px #ffffff;
 background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
 background-color: #ffffff;
 border-radius: 6px;
 border: 1px solid #dcdcdc;
 display: inline-block;
 width: 200px;
 cursor: pointer;
 color: #666666;
 font-family: Verdana;
 font-size: 15px;
 font-weight: bold;
 padding: 5px 10px;
 margin: 5px auto;
 text-decoration: none;
 text-shadow: 0px 1px 0px #ffffff;
}

.request-card {
 border: 2px solid #666666;
 margin: 10px auto;
 background-color: whitesmoke;
 padding-bottom: 15px;
 width: 500px;
 max-width: 800px;
 border-radius: 25px;
}

.request-card button {
 box-shadow: inset 0px 1px 0px 0px #ffffff;
 background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
 background-color: #ffffff;
 border-radius: 6px;
 border: 1px solid #dcdcdc;
 display: inline-block;
 width: 200px;
 cursor: pointer;
 color: #666666;
 font-family: Verdana;
 font-size: 15px;
 font-weight: bold;
 padding: 5px 10px;
 margin: 5px 5px;
 text-decoration: none;
 text-shadow: 0px 1px 0px #ffffff;
}

input {
 display: inline-block;
 border-width: 1px;
 padding: 3px;
 margin: 5px;
 font-size: 15px;
 border-style: solid;
 border-color: #666666;
 box-shadow: 1px 1px 4px 0px rgba(42, 42, 42, 0.75);
 text-shadow: 0px 0px 0px rgba(42, 42, 42, 0.75);
 font-weight: bold;
 font-family: Verdana;
}

label {
 font-family: Verdana;
 font-weight: bold;
 font-size: 1rem;
}

form {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 border: 2px solid #64615C;
 border-radius: 25px;
 width: 70%;
 padding: 15px;
 margin-left: 15%;
 margin-bottom: 20px;
 background: lightgray;
}
